.news-feed-row {
    $grid-desktop-side-gap: 17px;

    & + & {
        margin-top: 12px;

        @include desktop {
            margin-top: 34px;
        }
    }

    &--two-thirds-and-one-third,
    &--one-third-and-two-thirds {
        @include desktop {
            margin-right: -$grid-desktop-side-gap;
            margin-left: -$grid-desktop-side-gap;
        }
    }

    &--triple-one-third {
        @include desktop {
            margin-right: -$grid-desktop-side-gap;
            margin-left: -$grid-desktop-side-gap;
        }
    }
}
