.news-card {
    $this: &;

    &--member {
        border-color: $color-desert;

        #{$this}__image {
            &::before {
                @include fill-parent();

                content: "";
                background-image: linear-gradient(to bottom, rgba($color-desert, 0.1), rgba($color-black-three, 0.85));
            }

            & > img {
                z-index: -20;
            }
        }

        #{$this}__member-logo {
            position: relative;
            display: block;
            align-self: flex-end;
            width: 100%;
            height: 20px;

            @include tablet {
                height: 25px;
            }

            & > img {
                object-position: right;
            }

            &--bottom {
                display: none;
            }
        }
    }
}
