.news-card {
    $this: &;

    &--one-third {
        flex-direction: row;

        @include tablet {
            flex-direction: column;
        }

        #{$this}__image {
            flex-shrink: 0;
            width: 100px;
            height: auto;

            @include tablet {
                width: auto;
                height: 225px;
            }
        }

        #{$this}__title {
            margin-top: 10px;
        }

        #{$this}__content {
            min-height: 150px;
            padding: 15px 17px 15px;

            @include tablet {
                padding: 20px 23px 18px;

            }
        }

        #{$this}__avatar {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }

    &--small#{$this}--video {
        #{$this}__icon-play {
            width: 10px;
            height: 9px;

            @include tablet {
                width: 16px;
                height: 14px;
            }
        }
    }
}
