.news-card {
    $this: &;

    &--narrow {
        position: relative;
        height: 360px;
        border: none;

        @include tablet {
            height: 440px;
        }

        #{$this}__image {
            width: 100%;
            height: 100%;
            padding: 0;

            &::before {
                @include fill-parent();

                content: '';
                background-image: linear-gradient(to bottom, rgba($color-black-three, 0), rgba($color-black-three, 0.8));
            }

            & > img {
                z-index: -20;
            }
        }

        #{$this}__content {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;
            color: white;

            @include tablet {
                padding: 50px 60px;
            }
        }

        #{$this}__title {
            margin-top: 10px;
            font-size: 24px;
            letter-spacing: -0.4px;
            line-height: 1.2;

            @include tablet {
                margin-top: 15px;
                font-size: 40px;
                letter-spacing: -0.65px;
                line-height: 1.15;
            }
        }

        #{$this}__label {
            background-color: rgba($color-black-three, 0.2);
            border-radius: 2px;

            @include tablet {
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 0.85;
            }
        }

        #{$this}__date {
            display: none;

            &--bottom {
                display: block;
                color: $color-white-three;

                @include tablet {
                    display: none;
                }
            }
        }

        #{$this}__avatar {
            @include tablet {
                width: 30px;
                height: 30px;
            }
        }

        #{$this}__bottom {
            padding-top: 12px;

            @include tablet {
                padding-top: 23px;
            }
        }

        #{$this}__author-name {
            @include tablet {
                font-size: 12px;
            }
        }

        #{$this}__reading-time {
            margin-right: 10px;
            color: $color-white-three;

            @include tablet {
                margin-left: 14px;
                padding-left: 14px;
                color: $color-white-two;
                font-size: 12px;
            }
        }

        @include hover-focus {
            border: none;

            #{$this}__image > img {
                transform: scale(1.1);
            }
        }
    }
}
