.news-card {
    $this: &;

    &--two-thirds {
        @include tablet {
            flex-direction: row;
            min-height: 420px;
        }

        #{$this}__image {
            height: 190px;

            @include tablet {
                width: 52%;
                height: auto;
            }
        }

        #{$this}__icon-play {
            @include tablet {
                width: 20px;
                height: 20px;
            }
        }

        #{$this}__content {
            padding: 20px;

            @include tablet {
                padding: 30px 30px 20px;
            }
        }

        #{$this}__label {
            @include tablet {
                padding: 5px 8px;
                font-size: 14px;
                letter-spacing: 1.2px;
                line-height: 1;
            }
        }

        #{$this}__title {
            font-size: 18px;
            letter-spacing: -0.5px;
            line-height: 1.22;

            @include tablet {
                margin-top: 20px;
                font-size: 32px;
                letter-spacing: -0.8px;
                line-height: 1.2;
            }
        }
    }
}
