.news-card {
    $this: &;

    &--video {
        #{$this}__icon-play {
            position: absolute;
            top: 12px;
            left: 12px;
            display: block;

            @include tablet {
                position: relative;
                top: auto;
                left: auto;
                width: 16px;
                height: 14px;
            }

            &--big {
                display: none;
            }
        }
    }
}
