.game-card-score {
    $this: &;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-stretch: condensed;
    font-weight: 900;

    &--base {
        min-width: 75px;
        height: 96px;
        padding: 0 5px;
        font-size: 60px;
        letter-spacing: -3px;

        @include desktop {
            width: 100px;
            height: 120px;
            font-size: 72px;
            letter-spacing: -4px;
        }
    }

    &--light {
        background-color: white;
        color: black;
    }

    &--dark {
        background-color: $color-black-three;
        color: white;
    }

    &--border#{$this}--dark {
        border: 1px solid $color-warm-grey;
    }
}
