.gallery {
    $this: &;

    &__title {
        margin-bottom: 10px;
        color: black;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -0.25px;
        line-height: 1.25;
        text-align: center;
        text-transform: uppercase;

        @include tablet {
            margin-bottom: 30px;
            font-size: 24px;
            letter-spacing: -0.35px;
            line-height: 0.85;
        }
    }

    &__wrap {
        position: relative;
    }

    &__controls {
        display: none;

        @include tablet {
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
        }
    }
}
