.game-status {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    &--live {
        display: flex;
        align-items: center;
        padding: 3px 6px;
        background-color: $color-red;
        font-size: 9px;
        letter-spacing: 2px;

        @include desktop {
            padding: 3px 8px;
            font-size: 12px;
            letter-spacing: 3px;
        }

        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            margin-right: 5px;
            background-color: white;
            border-radius: 50%;
            animation: live 1s linear infinite;
        }
    }

    &--base {
        display: inline-block;
        vertical-align: top;
        padding: 3px 8px;
        font-size: 8px;
        line-height: 1;

        @include desktop {
            padding: 5px 18px;
            font-size: 12px;
            letter-spacing: 3px;
        }
    }

    &--dark {
        background-color: $color-black-three;
        color: white;
    }

    &--light {
        background-color: white;
        color: $color-black-three;
    }
}

@keyframes live {

    0% {
        background-color: white;
    }

    50% {
        background-color: $color-red;
    }

    100% {
        background-color: white;
    }
}
