.info-message {
    $this: &;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px $padding-side-mobile;
    text-align: center;

    @include tablet {
        padding: 40px $padding-side-tablet;
    }

    &--dark {
        color: $color-black;
    }

    &--light {
        color: $color-white;
    }
}
