.article-author {
    $this: &;

    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        border-top: 1px solid $color-white-three;
    }

    &__avatar {
        position: relative;
        flex-shrink: 0;
        width: 74px;
        height: 74px;
        margin-right: 16px;

        @include desktop {
            width: 50px;
            height: 50px;
        }

        & > img {
            border-radius: 50%;
        }
    }

    &__title {
        color: $color-warm-grey;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.83px;
        line-height: 1.4;
        text-transform: uppercase;
    }

    &__social {
        @include desktop {
            display: flex;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 600;

        @include desktop {
            margin-right: 10px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin-top: 5px;
        color: $color-black-three;
        text-decoration: none;

        @include desktop {
            margin-top: 0;

            & + & {
                margin-left: 10px;
            }
        }
    }

    &__account {
        font-size: 14px;
        letter-spacing: -0.3px;
    }

    &__account-icon {
        width: 15px;
        height: 15px;
        margin-right: 3px;

        &--twitter {
            color: $color-twitter;
        }

        &--instagram {
            color: $color-instagram;
        }

        &--facebook {
            color: $color-facebook;
        }

        &--youtube {
            color: $color-youtube;
        }
    }
}
