.article {
    $this: &;

    padding-bottom: 40px;

    @include desktop {
        padding-bottom: 60px;
    }

    &__body {
        overflow: hidden;

        @include desktop {
            padding: 0 60px;
        }
    }

    &__sign-in {
        padding: 50px 0;

        & + #{$this}__tags,
        & + #{$this}__author {
            margin-top: 0;
        }
        //background-image: linear-gradient(to bottom, rgba(white, 0), white);
    }

    &__show-tags-wrapper {
        margin-top: 20px;
        padding: 0 $padding-side-mobile;

        @include tablet {
            padding: 0 $padding-side-tablet;
        }
    }

    &__show-tags-button {
        width: 100%;
    }

    &__tags {
        margin-top: 15px;

        @include desktop {
            margin-top: 30px;
        }
    }

    &__author {
        margin-top: 20px;

        @include desktop {
            margin-top: 40px;
        }
    }

    &__tags,
    &__author {
        padding: 0 $padding-side-mobile;

        @include desktop {
            padding: 0 60px;
        }
    }

    &__carousel {
        overflow: hidden;
        margin-top: 25px;
        padding: 0 $padding-side-mobile;

        @include desktop {
            padding: 0 60px;
        }
    }

    &__carousel-container {
        padding-top: 25px;
        border-top: 1px solid $color-white-three;
    }

    &__author + &__carousel {
        margin-top: 0;
    }
}
