.lineups-heading {
    $this: &;

    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 20px 0;

    @include tablet {
        margin: 0 35px;
        padding: 30px 0;

        &::before,
        &::after {
            height: 35px;
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        width: 1px;
        height: 10px;
        background-color: black;

        @include tablet {
            height: 30px;
        }
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &__title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: black;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 2.5px;
        text-align: center;
        text-transform: uppercase;

        @include tablet {
            font-size: 28px;
            letter-spacing: 3.5px;
        }

        &::before,
        &::after {
            content: '';
            top: 10px;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background-color: black;
        }

        &::before {
            margin-right: 20px;

            @include tablet {
                margin-right: 30px;
            }
        }

        &::after {
            margin-left: 20px;

            @include tablet {
                margin-left: 30px;
            }
        }
    }

    &__text {
        white-space: nowrap;
    }

    &__logo {
        position: absolute;
        z-index: -30;
        width: 90px;
        height: 60px;

        @include tablet {
            width: 110px;
            height: 80px;
        }
    }

    &--player {
        max-width: 974px;
        margin: 0 auto;
    }

    &--stats {
        margin: 0;
    }
}
