.game-card-clock {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    min-height: 40px;
    padding: 3px 8px;
    background-color: $color-black-three;
    color: white;
    text-align: center;

    @include tablet {
        min-width: 150px;
        min-height: 52px;
    }

    &__time {
        margin: 0 4px;
        font-size: 24px;
        font-stretch: condensed;
        font-weight: 900;
        letter-spacing: -0.4px;
        text-transform: uppercase;

        @include tablet {
            margin: 0 7px;
            font-size: 32px;
        }
    }

    .icon {
        width: 13px;
        height: 13px;

        @include tablet {
            width: 15px;
            height: 15px;
        }
    }

    &--sticky {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: auto;
        height: 100%;
        padding: 4px 7px;
        background-color: $color-black-three;
        color: white;
        font-size: 16px;
        font-stretch: condensed;
        font-weight: 900;
        letter-spacing: -0.32px;

        @include desktop {
            min-width: auto;
            min-height: 0;
            background-color: white;
            color: $color-black-three;
            font-size: 32px;
        }

        .icon {
            display: none;
        }
    }

    &--extra-time {
        background-color: $color-red;
        color: white;
    }
}
