.stats-badge {
    display: inline-flex;
    align-items: center;
    padding: 3px 6px;
    background-color: $color-desert;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: normal;
    text-transform: uppercase;

    @include tablet {
        padding: 3px 11px;
        font-size: 12px;
    }

    & .icon {
        margin-right: 5px;

        @include tablet {
            width: 11px;
            height: 11px;
        }
    }
}
