.news-feed-slot {
    $grid-desktop-side-gap: 17px;

    & + & {
        margin-top: 12px;

        @include desktop {
            margin-top: 0;
        }
    }

    &--tall {
        width: 100%;
    }

    &--one-third {
        display: flex;
        width: 100%;

        @include desktop {
            width: 100 / 12 * 4 + 0%;
            padding-right: $grid-desktop-side-gap;
            padding-left: $grid-desktop-side-gap;
        }
    }

    &--two-thirds {
        display: flex;
        width: 100%;

        @include desktop {
            padding-right: $grid-desktop-side-gap;
            padding-left: $grid-desktop-side-gap;
        }

        @include desktop {
            width: 100 / 12 * 8 + 0%;
        }
    }
}
