.form-badge {
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;

    @include desktop {
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 28px;
    }

    &--bold {
        border: 2px solid;
    }

    &--white {
        border-color: white;
        color: white;
    }

    &--d {
        opacity: 0.65;
    }

    &--l {
        opacity: 0.3;
    }
}
