$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-min-width: 1024px;
$desktop-wide-width: 1400px;

@mixin mobile-only {
    @media screen and (max-width: $mobile-max-width) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-min-width) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-min-width) {
        @content;
    }
}

@mixin desktop-wide {
    @media screen and (min-width: $desktop-wide-width) {
        @content;
    }
}
