/* general mixins and helpers */

@mixin reset-list() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin reset-button() {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin objectFitImageParent($fit: cover) {
    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: $fit;

        @content;
    }
}

@mixin fill-parent() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin hover-focus() {
    .can-hover &:hover,
    .can-hover &:focus {
        @content;
    }
}

@mixin active() {
    .can-hover &:active {
        @content;
    }
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $color-white;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }
}
