$transition-default: 0.3s linear;

$padding-side-mobile: 20px;
$padding-side-tablet: 30px;
//$padding-side-desktop: 40px;

$container-max-width: 1252px;
$container-mid-max-width: 1038px;
$container-small-max-width: 824px;
$container-tiny-max-width: 610px;

$layer-block-spinner: 90;
$layer-navbar: 100;
$cookie-bar: 200;
$layer-overlay: 300;
$layer-menu: 500;
$layer-modal: 600;
$layer-page-spinner: 1000;
