.game-heading {
    $this: &;

    &__title {
        text-align: center;

        @include tablet {
            font-size: 36px;
        }
    }

    &__subtitle {
        margin-top: 8px;
    }

    &--small {
        #{$this}__title {
            font-size: 24px;
            letter-spacing: -0.5px;
            line-height: 0.85;

            @include tablet {
                font-size: 40px;
                letter-spacing: -1.05px;
                line-height: 1.2;
            }
        }
    }

    &--no-data {
        padding-top: 45px;
    }
}
