.newsCardTall {
    $this: &;

    position: relative;
    min-height: 360px;
    border: none;

    @include desktop {
        min-height: 440px;
    }

    .image {
        @include fill-parent();

        right: 0;
        bottom: 0;
        padding: 0;

        &::before {
            @include fill-parent();

            content: '';
            background-image: linear-gradient(to bottom, rgba($color-black-three, 0), rgba($color-black-three, 0.8));

            @include desktop {
                background-image: radial-gradient(circle at 50% 250%, rgba(24, 24, 24, 0.8), rgba(24, 24, 24, 0.6) 54%, rgba(24, 24, 24, 0) 82%);
                background-repeat: no-repeat;
            }
        }

        img {
            z-index: -20;
        }
    }

    .memberLogo {
        display: none;

        &Bottom {
            display: block;
            flex-shrink: 0;
            align-self: center;
            width: 120px;
            margin-left: auto;

            @include desktop {
                width: 200px;
            }
        }
    }

    .content {
        z-index: 0;
        display: flex;
        justify-content: flex-end;
        padding: 30px 20px;
        color: white;

        @include desktop {
            padding: 50px 60px;
        }
    }

    .title {
        margin-top: 10px;
        font-size: 24px;
        letter-spacing: -0.4px;
        line-height: 1.17;

        @include desktop {
            margin-top: 16px;
            font-size: 40px;
            letter-spacing: -0.65px;
        }
    }

    .label {
        padding: 2px 4px;
        background-color: rgba($color-black-three, 0.3);
        border-radius: 2px;
        font-size: 10px;
        letter-spacing: 0.83px;
        line-height: 1;

        @include desktop {
            padding: 3px 6px;
            font-size: 12px;
        }
    }

    .date {
        display: none;
    }

    .avatar {
        width: 24px;
        height: 24px;

        @include desktop {
            width: 36px;
            height: 36px;
        }
    }

    .topWrap {
        margin-top: 20px;
    }

    .bottom {
        margin-top: 0;
        padding-top: 12px;

        @include desktop {
            padding-top: 20px;
        }
    }

    .authorName {
        font-size: 12px;

        @include desktop {
            font-size: 14px;
        }

        & + .readingTime {
            @include desktop {
                margin-left: 14px;
                padding-left: 14px;
            }
        }
    }

    .readingTime {
        color: $color-white-three;
        font-size: 12px;
        font-weight: 600;
        white-space: nowrap;
    }

    @include hover-focus {
        border: none;

        .image > img {
            transform: scale(1.1);
        }
    }


    .newsCardTall:not(.newsCardMember) {
        .memberLogo {
            &Bottom {
                display: none;
            }
        }
    }

    .newsCardTall.newsCardMember:not(.newsCardHero) {
        border: 1px solid $color-desert;
    }

    .newsCardTall.newsCardVideo {
        .iconPlay {
            display: none;
        }

        .iconPlayBig {
            display: block;
            width: 30px;
            height: 30px;
            margin-bottom: auto;

            @include desktop {
                width: 40px;
                height: 40px;
            }
        }
    }

    .newsCardHero {
        min-height: 460px;

        @include desktop {
            min-height: 560px;
        }

        .title {
            margin-top: 10px;
            font-size: 32px;
            letter-spacing: -0.5px;
            line-height: 1.2;

            @include desktop {
                margin-top: 16px;
                font-size: 48px;
                letter-spacing: -0.75px;
            }
        }

        .label {
            padding: 4px 6px;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 0.83;

            @include tablet {
                padding: 3px 8px;
                font-size: 14px;
                letter-spacing: 1.17px;
                line-height: 1;
            }
        }
    }
}
