.newsCardVideo {
    .iconPlay {
        position: absolute;
        top: 12px;
        left: 12px;
        display: block;

        @include tablet {
            position: relative;
            top: auto;
            left: auto;
            width: 16px;
            height: 14px;
        }

        &Big {
            display: none;
        }
    }
}
