.fixture-card {
    $this: &;
    $transition: 0.2s ease-in;

    position: relative;
    overflow: hidden;
    z-index: 0;
    display: block;
    background-color: white;
    color: $color-black-three;
    text-decoration: none;

    @include desktop {
        opacity: 0;
    }

    &__inner {
        position: relative;
        display: flex;
        border-right: 1px solid $color-white-three;
        border-left: 1px solid $color-white-three;
    }

    &__animline {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $color-white-three;

        &--top {
            top: 0;
        }

        &--bottom {
            bottom: 0;
        }
    }

    &__animline-home,
    &__animline-away {
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: rgba(var(--theme-color), 1);
        transition: transform $transition;
    }

    &__animline-home {
        left: 0;
        transform: translateX(-100%);
    }

    &__animline-away {
        right: 0;
        transform: translateX(100%);
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;

        @include desktop {
            justify-content: center;
            width: 100%;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 17px;

        @include desktop {
            padding-top: 0;
        }
    }

    &__grid {
        @include desktop {
            display: flex;
        }
    }

    &__mid {
        @include desktop {
            width: 100%;
        }
    }

    &__side {
        display: none;

        @include desktop {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 15%;
            text-align: center;
        }
    }

    &__bg {
        width: 11px;
        background-color: rgba(var(--theme-color), 1);
    }

    &__bg-logo {
        display: none;
    }

    &__content {
        flex-grow: 1;
        padding: 5px 10px 20px;

        @include desktop {
            padding: 28px 15px;
        }
    }

    &__mobile-logo {
        flex-shrink: 0;
        width: 55px;
        height: 55px;
        object-fit: contain;

        @include desktop {
            display: none;
        }
    }

    &__desktop-logo {
        flex-shrink: 0;
        width: 120px;
        height: 120px;
        object-fit: contain;
        transition: transform $transition;
    }

    &__live {
        position: relative;
        z-index: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 8px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -30;
            width: 100%;
            height: 1px;
            background-color: rgba(white, 0.2);

            @include desktop {
                content: normal;
            }
        }
    }

    &__date {
        padding: 3px 5px;
        border: 1px solid $color-white-two;
        color: black;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.1px;
        text-transform: uppercase;

        @include desktop {
            font-size: 16px;
        }
    }

    &__fulltime {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 20px;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -30;
            width: 100%;
            height: 1px;
            background-color: $color-white-three;

            @include desktop {
                content: normal;
            }
        }
    }

    &__date + &__fulltime {
        margin: 10px 0;

        @include desktop {
            margin-bottom: 0;
        }

        &::before {
            content: none;
        }
    }

    &__status {
        margin-top: 10px;
        margin-bottom: 12px;
        text-align: center;

        @include desktop {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    &__date + &__status {
        @include desktop {
            margin-bottom: 0;
        }
    }

    &__fulltime + &__status {
        margin-top: 0;

        @include desktop {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }

    &__playoff {
        display: inline-block;
        vertical-align: top;
        padding: 3px 8px;
        background-color: $color-desert;
        color: white;
        font-size: 8px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;

        @include desktop {
            padding: 5px 10px;
            font-size: 10px;
        }
    }

    &__teams {
        display: flex;

        @include desktop {
            min-height: 120px;
            margin-top: 5px;
        }
    }

    &__team {
        display: flex;
        flex: 1;
        flex-direction: column;

        @include desktop {
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
        }

        &--home {
            align-items: flex-end;
            padding-right: 10px;
            text-align: right;

            @include desktop {
                align-items: center;
                padding-left: 10px;
            }
        }

        &--away {
            padding-left: 10px;

            @include desktop {
                flex-direction: row;
                padding-right: 10px;
            }

            #{$this}__info {
                @include desktop {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    &__score-wrap {
        position: relative;
        overflow: hidden;
        background-color: transparent;
        color: transparent;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translateX(-100%);
            width: 100%;
            height: 100%;
            background-color: $color-black-three;
        }
    }

    &__score {
        margin-bottom: 10px;

        @include desktop {
            margin-bottom: 0;
        }
    }

    &__versus {
        display: none;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;

        @include desktop {
            font-size: 14px;
            letter-spacing: 1.5px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: auto;
        color: rgba(var(--theme-color), 1);
        font-size: 20px;
        font-weight: 900;
        letter-spacing: -0.4px;
        text-transform: uppercase;
        transition: transform $transition;

        @include desktop {
            padding-bottom: 45px;
            font-size: 32px;
        }

        .team-title-small {
            font-size: 16px;
            letter-spacing: 0;
            line-height: 1;

            @include desktop {
                font-size: 20px;
            }
        }

        .team-title-big {
            line-height: 0.85;
        }
    }

    &__info {
        display: flex;
        align-items: baseline;
        color: rgba(var(--theme-color), 1);
        font-weight: 700;
        text-transform: uppercase;

        @include desktop {
            display: flex;
            justify-content: center;
        }

        &--mobile {
            @include desktop {
                display: none;
            }
        }

        &--desktop {
            @include desktop {
                position: absolute;
                top: 100%;
                z-index: -10;
            }
        }

        &--away#{$this}__info--desktop {
            @include desktop {
                flex-direction: row-reverse;
            }
        }

        &--away#{$this}__info--mobile {
            flex-direction: row-reverse;
            align-self: flex-start;
        }
    }

    &__position {
        font-size: 14px;

        @include desktop {
            font-size: 16px;
        }
    }

    &__conference {
        margin: 0 4px;
        font-size: 10px;

        @include desktop {
            font-size: 12px;
        }
    }

    &__place {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;

        @include desktop {
            max-width: 600px;
            margin: 6px auto 0 auto;
            font-size: 16px;
        }
    }

    &__separator {
        padding: 0 5px;
    }

    &__broadcasters {
        margin-top: 10px;
    }

    &--post {
        #{$this}__bg {
            z-index: 1;
            transform: translateX(-1px);

            &--away {
                transform: translateX(1px);
            }
        }

        #{$this}__score {
            width: 64px;
            height: 66px;
            font-size: 48px;
            letter-spacing: -2px;

            @include desktop {
                width: 78px;
                height: 90px;
                font-size: 60px;
                letter-spacing: -3px;
            }
        }

        #{$this}__team {
            &--home {
                #{$this}__score-wrap {
                    margin-left: 20px;
                }
            }

            &--away {
                #{$this}__score-wrap {
                    margin-right: 20px;
                }
            }
        }

    }

    &--live {
        background-color: $color-white;

        #{$this}__animline {
            display: none;
        }

        #{$this}__content {
            @include desktop {
                padding: 28px 0;
            }
        }

        #{$this}__bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -30;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;

            &::before,
            &::after {
                @include fill-parent;

                content: '';
                opacity: 0.7;
                z-index: 10;
                transition: opacity $transition;
            }

            &::after {
                background-image: linear-gradient(to bottom, rgba(var(--theme-gradient-color), 1), rgba(var(--theme-gradient-color), 0) 30%, rgba(var(--theme-gradient-color), 0) 80%, rgba(var(--theme-gradient-color), 1));

                @include desktop {
                    background-image: linear-gradient(to bottom, rgba(var(--theme-gradient-color), 1), rgba(var(--theme-gradient-color), 0) 35%, rgba(var(--theme-gradient-color), 0) 70%, rgba(var(--theme-gradient-color), 1));
                }
            }

            &--home {
                &::before {
                    background-image: linear-gradient(to left, rgba(var(--theme-gradient-color), 1), rgba(var(--theme-gradient-color), 0) 70%);

                    @include desktop {
                        background-image: linear-gradient(to left, rgba(var(--theme-gradient-color), 1), rgba(var(--theme-gradient-color), 0) 40%);
                    }
                }

                #{$this}__bg-logo {
                    right: 0;

                    @include tablet {
                        right: 15px;
                    }

                    @include desktop {
                        right: 55px;
                    }
                }
            }

            &--away {
                left: 50%;

                &::before {
                    background-image: linear-gradient(to right, rgba(var(--theme-gradient-color), 1), rgba(var(--theme-color), 0) 70%);

                    @include desktop {
                        background-image: linear-gradient(to right, rgba(var(--theme-gradient-color), 1), rgba(var(--theme-color), 0) 40%);
                    }
                }

                #{$this}__bg-logo {
                    left: 0;

                    @include tablet {
                        left: 15px;
                    }

                    @include desktop {
                        left: 55px;
                    }
                }
            }
        }

        #{$this}__bg-logo {
            position: absolute;
            display: block;
            width: 200px;
            height: 200px;
            object-fit: contain;

            @include desktop {
                width: 350px;
                height: 350px;
            }
        }

        #{$this}__team {
            &--home {
                #{$this}__score-wrap {
                    margin-left: 20px;
                }
            }

            &--away {
                #{$this}__score-wrap {
                    margin-right: 20px;
                }
            }
        }

        #{$this}__score {
            width: 75px;
            height: 96px;
            background-color: white;
            color: black;
            font-size: 60px;

            @include desktop {
                width: 90px;
                height: 112px;
                font-size: 72px;
            }
        }

        #{$this}__place {
            @include desktop {
                margin-top: 20px;
            }
        }

        #{$this}__broadcasters {
            margin-top: 15px;
        }

        #{$this}__title,
        #{$this}__info,
        #{$this}__venue,
        #{$this}__place,
        #{$this}__broadcasters {
            color: white;
        }
    }

    &--pre {
        #{$this}__teams {
            @include desktop {
                margin-top: 0;
            }
        }

        #{$this}__bg {
            z-index: 1;
            transform: translateX(-1px);

            &--away {
                transform: translateX(1px);
            }
        }

        #{$this}__team {
            &--home {
                @include desktop {
                    padding-right: 40px;
                }
            }

            &--away {
                @include desktop {
                    padding-left: 40px;
                }
            }
        }

        #{$this}__score {
            display: none;
        }

        #{$this}__versus {
            display: block;
            flex-shrink: 0;
            align-self: center;

            @include desktop {
                margin-top: 5px;
            }
        }
    }

    &--intro-animation {
        @include desktop {
            opacity: 0;
            animation: fadeIn 0.3s forwards;
        }

        #{$this}__fulltime {
            @include desktop {
                overflow: hidden;
                width: 0;
                white-space: nowrap;
                animation: widthAnim 0.4s 0.1s forwards;
            }
        }

        #{$this}__score-wrap {
            &::before {
                @include desktop {
                    animation: score 0.4s 0.2s forwards;
                }
            }
        }

        #{$this}__score {
            @include desktop {
                opacity: 0;
                transform: translateY(10%);
                background-color: transparent;
                animation: scoreLiteral 0.3s 0.3s ease-out forwards;
            }
        }

        #{$this}__side:first-child {
            @include desktop {
                opacity: 0;
                animation: fromLeft 0.4s 0.5s ease-out forwards;
            }
        }

        #{$this}__side:last-child {
            @include desktop {
                opacity: 0;
                animation: fromRight 0.4s 0.5s ease-out forwards;
            }
        }

        #{$this}__info {
            @include desktop {
                opacity: 0;
                animation: fromRight 0.4s 0.5s ease-out forwards;
            }

            &--away {
                @include desktop {
                    opacity: 0;
                    animation: fromLeft 0.4s 0.5s ease-out forwards;
                }
            }
        }

        #{$this}__team {
            &--home {
                #{$this}__title {
                    @include desktop {
                        opacity: 0;
                        animation: fromLeft 0.4s 0.4s forwards;
                    }
                }
            }

            &--away {
                #{$this}__title {
                    @include desktop {
                        opacity: 0;
                        animation: fromRight 0.4s 0.4s forwards;
                    }
                }
            }
        }

        #{$this}__bg {
            &--home {
                @include desktop {
                    opacity: 0;
                    animation: bgFromLeft 0.2s 0.6s forwards;
                }
            }

            &--away {
                @include desktop {
                    opacity: 0;
                    animation: bgFromRight 0.2s 0.6s forwards;
                }
            }
        }

        #{$this}__place,
        #{$this}__broadcasters {
            @include desktop {
                opacity: 0;
                animation: fadeIn 0.2s 0.6s forwards;
            }
        }
    }

    &--live#{$this}--intro-animation {
        #{$this}__live {
            @include desktop {
                overflow: hidden;
                width: 0;
                animation: widthAnim 1.4s 0.1s forwards;
            }
        }

        #{$this}__score-wrap {
            &::before {
                @include desktop {
                    background-color: white;
                    animation: score 0.5s 0.2s forwards;
                }
            }
        }

        #{$this}__score {
            @include desktop {
                opacity: 0;
                transform: translateY(10%);
                background-color: transparent;
                animation: scoreLiteral 0.3s 0.4s ease-in forwards;
            }
        }

        #{$this}__team {
            &--home {
                #{$this}__title {
                    @include desktop {
                        opacity: 0;
                        animation: fromLeftLive 0.4s 0.4s forwards;
                    }
                }
            }

            &--away {
                #{$this}__title {
                    @include desktop {
                        opacity: 0;
                        animation: fromRightLive 0.4s 0.4s forwards;
                    }
                }
            }
        }

        #{$this}__bg {
            &--home {
                @include desktop {
                    opacity: 0;
                    animation: bgFromLeftLive 0.6s 0.2s forwards;
                }

                #{$this}__bg-logo {
                    @include desktop {
                        animation: bgLogoLeft 0.6s 0.2s forwards;
                    }
                }
            }

            &--away {
                @include desktop {
                    opacity: 0;
                    animation: bgFromRightLive 0.6s 0.2s forwards;
                }

                #{$this}__bg-logo {
                    @include desktop {
                        transform: scale(1.05);
                        animation: bgLogoRight 0.6s 0.2s forwards;
                    }
                }
            }
        }

        #{$this}__desktop-logo {
            @include desktop {
                transform: scale(0.95);
                animation: liveLogoTeam 0.8s 0.4s forwards;
            }
        }
    }

    &--pre#{$this}--intro-animation {
        #{$this}__date,
        #{$this}__versus {
            @include desktop {
                opacity: 0;
                animation: fadeIn 0.4s 0.2s forwards;
            }
        }
    }

    &--animation-complete {
        @include desktop {
            opacity: 1;
        }

        @include hover-focus {
            #{$this}__animline-home,
            #{$this}__animline-away {
                transform: translateX(0);
            }

            #{$this}__bg {
                &::before,
                &::after {
                    opacity: 1;
                }
            }

            #{$this}__team {
                &--home {
                    #{$this}__title {
                        transform: translateX(-5px);
                    }
                }

                &--away {
                    #{$this}__title {
                        transform: translateX(5px);
                    }
                }
            }

            #{$this}__desktop-logo {
                transform: scale(1.05);
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes widthAnim {
    0% {
        opacity: 0;
        width: 0;
    }

    99% {
        opacity: 1;
        width: 16%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes score {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes scoreLiteral {

    from {
        opacity: 0;
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bgFromLeft {
    from {
        opacity: 0;
        transform: translateX(-12px);
    }

    to {
        opacity: 1;
        transform: translateX(-1px);
    }
}

@keyframes bgFromRight {
    from {
        opacity: 0;
        transform: translateX(12px);
    }

    to {
        opacity: 1;
        transform: translateX(1px);
    }
}

@keyframes fromLeftLive {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }

    70% {
        opacity: 1;
        transform: translateX(3px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromRightLive {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }

    70% {
        opacity: 1;
        transform: translateX(-3px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bgFromLeftLive {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bgFromRightLive {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes liveLogoTeam {
    0% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bgLogoLeft {
    from {
        transform: translateX(142%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes bgLogoRight {
    from {
        transform: translateX(-142%);
    }

    to {
        transform: translateX(0);
    }
}
