.team-lineups-card {
    $this: &;

    position: relative;
    display: flex;
    min-height: 130px;
    color: $color-black-three;

    @include desktop {
        opacity: 0;
    }

    &__player {
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        width: 50%;
        border-top: 1px solid $color-white-three;
        border-bottom: 1px solid $color-white-three;
        color: inherit;
        text-decoration: none;

        @include tablet {
            border: 1px solid $color-white-three;
        }

        &--home {
            border-right: 1px solid $color-white-three;

            #{$this}__player-info {
                padding-right: 5px;

                @include tablet {
                    padding: 10px 40px 15px 30px;
                }
            }

            #{$this}__team {
                img {
                    left: -24px;

                    @include tablet {
                        left: -40px;
                    }

                    @include desktop {
                        left: 44px;
                    }
                }
            }
        }

        &--away {
            flex-direction: row-reverse;
            border-left: none;

            #{$this}__player-info {
                flex-direction: row-reverse;
                padding-left: 5px;
                text-align: right;

                @include tablet {
                    padding: 10px 30px 15px 40px;
                }
            }

            #{$this}__team {
                img {
                    right: -24px;
                    left: auto;

                    @include tablet {
                        right: -40px;
                    }

                    @include desktop {
                        right: 44px;
                    }
                }
            }

            #{$this}__stats {
                justify-content: flex-end;
            }
        }
    }

    &__team {
        position: relative;
        flex-shrink: 0;
        width: 53px;
        height: 100%;

        @include tablet {
            width: 76px;
        }

        @include desktop {
            width: 136px;
        }

        &::before {
            content: ' ';
            position: absolute;
            z-index: -20;
            width: 100%;
            height: 100%;
            background-color: rgba(var(--theme-color), 1);
        }

        & > img {
            top: 10px;
            z-index: -10;
            width: 83px;
            height: 120px;

            @include tablet {
                top: 10px;
                width: 170px;
                height: 170px;
            }

            @include desktop {
                top: 0;
                width: 117px;
            }
        }
    }

    &__player-info {
        padding: 10px;

        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }
    }

    &__fullname {
        letter-spacing: -0.2px;
        text-transform: uppercase;

        @include tablet {
            letter-spacing: -0.3px;
        }
    }

    &__firstname {
        font-size: 12px;

        @include tablet {
            font-size: 16px;
        }
    }

    &__lastname {
        font-size: 14px;
        font-weight: 700;

        @include tablet {
            font-size: 24px;
        }
    }

    &__center {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        text-align: center;

        @include tablet {
            top: 20px;
        }
    }

    &__title {
        padding: 4px 6px 3px;
        background-color: white;
        border: 1px solid $color-white-three;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.2px;
        line-height: 1;
        text-transform: uppercase;

        @include tablet {
            font-size: 16px;
        }
    }

    &__position {
        display: block;
        margin-top: 5px;
        font-size: 40px;
        font-stretch: condensed;
        font-weight: 900;
    }

    &__stats {
        color: rgba(var(--theme-color), 1);
    }

    &__value {
        font-size: 40px;
        font-stretch: condensed;
        font-weight: 900;
        letter-spacing: -2px;
        line-height: 1.05;

        @include tablet {
            font-size: 56px;
            letter-spacing: -3px;
            line-height: 0.75;
        }
    }

    &__additional {
        margin-left: 4px;
        font-size: 24px;
        letter-spacing: -0.7px;

        @include tablet {
            font-size: 32px;
        }
    }

    &__rank {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: -1px;
        text-transform: uppercase;

        @include desktop {
            display: none;
            color: $color-warm-grey;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: -0.9px;
        }

        &--desktop {
            display: none;

            @include desktop {
                display: block;
            }
        }
    }

    & + & {
        margin-top: 10px;
    }

    &--lineup {
        #{$this}__team {
            @include desktop {
                width: 136px;
            }
        }

        #{$this}__player-info {
            @include desktop {
                padding-left: 56px;
            }
        }

        #{$this}__position {
            @include desktop {
                font-size: 56px;
            }
        }
    }

    &--intro-animation {
        @include desktop {
            opacity: 1;
        }

        #{$this}__player {
            &--home {
                #{$this}__team {
                    @include desktop {
                        opacity: 0;
                        transform: translateY(30%);
                        animation: cardImg 0.4s ease-out forwards;
                    }

                    &::before {
                        @include desktop {
                            opacity: 0;
                            transform: translate(-100%, -30%);
                            animation: cardBgHome 0.4s ease-out forwards;
                        }
                    }
                }

                #{$this}__fullname {
                    @include desktop {
                        opacity: 0;
                        transform: translateX(-30px);
                        animation: nameHome 0.4s 0.2s linear forwards;
                    }
                }
            }

            &--away {
                #{$this}__team {
                    @include desktop {
                        opacity: 0;
                        transform: translateY(30%);
                        animation: cardImg 0.4s ease-out forwards;
                    }

                    &::before {
                        @include desktop {
                            opacity: 0;
                            transform: translate(-100%, -30%);
                            animation: cardBgAway 0.4s ease-out forwards;
                        }
                    }
                }

                #{$this}__fullname {
                    @include desktop {
                        opacity: 0;
                        transform: translateX(30px);
                        animation: nameAway 0.4s 0.2s linear forwards;
                    }
                }
            }
        }

        #{$this}__stats {
            @include desktop {
                opacity: 0;
                transform: translateY(8px);
                animation: statFadeIn 0.4s 0.35s linear forwards;
            }
        }

        #{$this}__center {
            @include desktop {
                opacity: 0;
                animation: centerFadeIn 0.4s 0.3s linear forwards;
            }
        }
    }

    &--animation-complete {
        @include desktop {
            opacity: 1;
        }
    }
}

@keyframes cardBgHome {
    from {
        opacity: 0;
        transform: translate(-100%, -30%);
    }

    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

@keyframes cardImg {
    from {
        opacity: 0;
        transform: translateY(30%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cardBgAway {
    from {
        opacity: 0;
        transform: translate(100%, -30%);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes nameHome {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes nameAway {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes statFadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes centerFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
