.streamAmgPlayer {
    $this: &;

    position: relative;

    &::before {
        content: '';
        display: block;
        padding-top: 56.25%;
    }

    & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // fix thumbnail mode styles
    & > div {
        position: absolute !important;
        top: 0;
        left: 0;

        .kWidgetPlayButton {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &Flexible {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            width: 100%;
            height: 100%;
            padding-top: 0;
        }
    }
}
