.reset-button {
    @include reset-button();
}

.text-button {
    @include reset-button();

    display: inline-block;
    vertical-align: middle;
    color: inherit;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    @include tablet {
        font-size: 14px;
        letter-spacing: 3.5px;
    }

    &--icon {
        display: inline-flex;
        align-items: center;

        & > :last-child {
            margin-left: 10px;
        }
    }

    &--border {
        padding-bottom: 2px;
        border-bottom: 1px solid;
    }
}

.primary-button {
    position: relative;
    z-index: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    font-family: $ff-avenir-next;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    outline: none;

    &--small {
        padding: 5px 11px;
        letter-spacing: 1.3px;
    }

    &--icon {
        & > :last-child {
            margin-left: 5px;
        }
    }

    &--my-team,
    &--ita {
        overflow: hidden;

        &::after {
            @include fill-parent();

            content: '';
            z-index: -1;
            transform: translateY(-100%);
            background-color: black;
            transition: transform 200ms linear;
        }

        @include hover-focus {
            color: white;

            &::after {
                transform: translateY(0);
            }
        }

        &.is-active {
            background-color: black;
            color: white;
        }
    }

    &--my-team {
        & > svg {
            transform: rotate(0);
            transition: transform 200ms linear;
        }

        @include hover-focus {
            color: white;

            & > svg {
                transform: rotate(216deg);
            }
        }
    }
}

.form-link {
    @include reset-button();

    padding-bottom: 2px;
    border-bottom: 1px solid $color-black-three;
    color: $color-black-three;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.2px;
    text-decoration: none;
    cursor: pointer;
}

.form-button {
    @include reset-button();

    padding: 18px 20px;
    border: 2px solid black;
    color: black;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
