@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/avenir-next-regular.woff2') format('woff2'),
        url('../fonts/avenir-next-regular.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/avenir-next-medium.woff2') format('woff2'),
        url('../fonts/avenir-next-medium.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src:
        url('../fonts/avenir-next-demibold.woff2') format('woff2'),
        url('../fonts/avenir-next-demibold.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/avenir-next-bold.woff2') format('woff2'),
        url('../fonts/avenir-next-bold.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src:
        url('../fonts/avenir-next-heavy.woff2') format('woff2'),
        url('../fonts/avenir-next-heavy.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    font-stretch: condensed;
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/avenir-next-medium-condensed.woff2') format('woff2'),
        url('../fonts/avenir-next-medium-condensed.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    font-stretch: condensed;
    font-style: normal;
    font-weight: 900;
    src:
        url('../fonts/avenir-next-heavy-condensed.woff2') format('woff2'),
        url('../fonts/avenir-next-heavy-condensed.woff') format('woff');
}
