:root {
    --theme-color: 24, 24, 24;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

[data-whatintent='mouse'] *:focus,
[data-whatintent='touch'] *:focus {
    outline: none;
}

.html {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    font-size: 100%;

    &.is-blocked {
        overflow: hidden;
    }

    &.is-blocked-touch {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: auto;
    }
}

.body {
    height: 100%;
    margin: 0;
    font-family: $ff-avenir-next;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

.page {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    display: grid;
    min-height: 100%;
}

// if we have only one component inside and it has a background
// we would like to see background from header until footer
.main {
    & > :only-child {
        height: 100%;
    }
}

.container {
    max-width: $container-max-width;
    margin-right: auto;
    margin-left: auto;
}

.container-mid {
    max-width: $container-mid-max-width;
    margin-right: auto;
    margin-left: auto;
}

.container-small {
    max-width: $container-small-max-width;
    margin-right: auto;
    margin-left: auto;
}

.container-tiny {
    max-width: $container-tiny-max-width;
    margin-right: auto;
    margin-left: auto;
}
