/*  reset default styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

ul {
    @include reset-list();
}

img {
    vertical-align: top;
}

b, strong {
    font-weight: 700;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

.heading {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -0.8px;
    text-transform: uppercase;
}

.form-title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

//headline
//title
//subtitle
//copy
