.modal {
    $this: &;
    $button-width: 30px;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: $layer-modal;
    display: none;
    align-items: center;

    @include tablet {
        padding: 30px $padding-side-tablet;
    }

    @include desktop {
        padding: 60px $padding-side-tablet;
    }

    &__wrapper {
        position: relative;
        width: 100%;
        max-width: $container-mid-max-width;
        margin: auto;
    }

    &__content {
        width: 100%;
        background-color: white;
    }

    &__close {
        @include reset-button();

        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 1;
        width: $button-width;
        height: $button-width;
        color: $color-black-three;
        cursor: pointer;

        @include tablet {
            top: 36px;
            right: 36px;
        }

        &--white {
            color: $color-white-three;
        }

        //@include hover-focus {
        //    color: $color-orange;
        //}
    }

    &__close-icon {
        @include tablet {
            width: 28px;
            height: 28px;
        }
    }

    &--light {
        #{$this}__close {
            color: white;
        }
    }

    &--tiny {
        #{$this}__wrapper {
            max-width: $container-tiny-max-width;
        }
    }

    &--close-outside {
        #{$this}__wrapper {
            padding: 0 28px;

            @include desktop {
                padding: 0 48px;
            }
        }

        #{$this}__close {
            top: 0;
            right: 0;
            width: 28px;
            height: 28px;
            background-color: $color-black-three;
            border: 1px solid rgba(white, 0.4);

            @include desktop {
                width: 48px;
                height: 48px;
            }
        }

        #{$this}__close-icon {
            width: 16px;
            height: 16px;

            @include desktop {
                width: 20px;
                height: 20px;
            }
        }
    }

    &.is-opened {
        display: flex;
    }
}
