.warning-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: $color-white;
    border: 1px solid $color-white-two;

    &__icon {
        display: inline-flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        background-color: black;
        color: white;
        font-size: 12px;
        font-weight: 700;
    }

    &__title {
        color: $color-black-three;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.23px;
        line-height: 1.43;
    }
}
