.pagination {
    display: flex;
    align-items: center;
    min-height: 30px;

    &__list {
        @include reset-list();

        display: flex;
    }

    &__li {
        & + & {
            margin-left: 8px;

            @include tablet {
                margin-left: 10px;
            }
        }
    }


    &__page {
        @include reset-button();

        min-width: 14px;
        padding-bottom: 2px;
        border-bottom: 1px solid white;
        color: white;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        @include tablet {
            font-size: 14px;
        }

        &[disabled] {
            opacity: 0.2;
            border-color: rgba(white, 0.2);
        }

        &.is-current {
            border-color: transparent;
        }
    }

    &__divider {
        align-self: stretch;
        margin: 0 15px;
        border-left: 1px solid rgba(white, 0.2);

        @include tablet {
            margin: 0 20px;
        }
    }
}
