.carousel-button {
    @include reset-button();

    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 32px;
    background-color: white;
    border: 1px solid black;
    color: $color-black-three;
    cursor: pointer;
    transition: border-color $transition-default, color $transition-default;

    &::before {
        @include fill-parent();

        content: '';
        background-color: black;
        transition: transform $transition-default;
    }

    &__icon {
        position: absolute;
    }

    &[disabled] {
        border-color: rgba($color-black-three, 0.2);
        color: rgba($color-black-three, 0.2);
        cursor: auto;

        &::before {
            content: none;
        }
    }

    &:not([disabled]) + &[disabled] {
        border-left: 1px solid black;
    }

    &:hover {
        &::before {
            transform: translateX(0);
        }

        &:not([disabled]) {
            color: white;
        }
    }

    &--next {
        &::before {
            transform: translateX(-100%);
        }
    }

    &--prev {
        border-right: none;

        &::before {
            transform: translateX(100%);
        }
    }
}
