.dropdown {
    $this: &;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include desktop {
        position: relative;
    }

    &__outer {
        padding-right: 10px;
        outline: none;

        #{$this}__list--single > #{$this}__item {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: -1px;
                display: block;
                width: 0;
                height: 3px;
                background-color: $color-black-three;
                transition: width $transition-default;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: -10px;
                display: block;
                transform: translateY(-50%);
                width: 10px;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='5' viewBox='0 0 6 5'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M3 5L0 0h6z'/%3E%3C/svg%3E%0A");
                background-position: 100% 50%;
                background-repeat: no-repeat;
                background-size: 7px 6px;
            }
        }
    }

    &__inner,
    &__native {
        width: 100%;
        background-color: transparent;
        border: none;
        font-family: $ff-avenir-next;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 1.7px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        transition: border-color $transition-default;
        appearance: none;

        option {
            color: $color-warm-grey-two;
        }

        &.is-hidden {
            display: none;
        }

        &::-ms-expand {
            display: none;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
    }

    &__list {
        width: 100%;

        &--dropdown {
            @include scrollbar();

            position: absolute;
            top: 100%;
            left: 50%;
            overflow-x: hidden;
            overflow-y: auto;
            opacity: 1;
            z-index: 1;
            display: none;
            transform: translateX(-50%);
            width: calc(100vw - 40px);
            max-width: 335px;
            max-height: 470px;
            margin-top: 5px;
            padding: 10px 15px 20px;
            background-color: white;
            border: solid 1px $color-black-three;
            word-break: break-all;
            transition: opacity $transition-default;

            @include tablet {
                min-width: 290px;
            }

            &.is-active {
                display: block;

                #{$this} {
                    border-bottom: 1px solid $color-black-three;
                }
            }
        }
    }

    &__item {
        width: 100%;
        color: black;
        font-size: 14px;
        transition: all $transition-default;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: transparent;

        @include tablet {
            font-size: 18px;
            letter-spacing: 2.25px;
            line-height: 1;
        }

        &--selectable {
            text-align: center;
            cursor: pointer;

            &.is-highlighted {
                color: $color-warm-grey-two;
            }
        }

        &--choice {
            padding: 18px 0;
            border-bottom: 1px solid $color-white-three;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 3.5px;
            text-align: center;
            text-transform: uppercase;
            word-break: break-word;
            word-wrap: break-word;
            transition: color $transition-default;
        }
    }

    @include hover-focus {
        #{$this}__list--single > #{$this}__item {
            color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $color-black-three;

            &::after {
                width: 100%;
            }

            &::before {
                animation: jump 500ms infinite ease-in-out;
                animation-direction: alternate;
            }
        }
    }

    &--light {
        #{$this}__list--single > #{$this}__item {
            color: white;

            &::after {
                background-color: white;
            }

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='5' viewBox='0 0 6 5'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M3 5L0 0h6z'/%3E%3C/svg%3E%0A");
            }
        }

        #{$this}__outer ~ #{$this}__icon {
            color: white;
        }

        @include hover-focus {
            #{$this}__list--single > #{$this}__item {
                color: black;
                -webkit-text-stroke-color: white;
            }
        }
    }

    @keyframes jump {
        from {
            transform: translateY(-50%);
        }

        to {
            transform: translateY(-20%);
        }
    }
}


