.image {
    $this: &;

    &__bg {
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-top: 56.25%;
        }

        img {
            object-position: top center;
        }
    }

    &__title {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.2px;
        line-height: 1.5;
        text-align: center;

        @include tablet {
            margin-top: 20px;
            font-size: 18px;
        }
    }

    &--flexible {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        #{$this}__bg {
            height: 100%;

            &::before {
                content: normal;
            }
        }
    }

    &--no-title {
        #{$this}__title {
            display: none;
        }
    }

    &--gallery {
        #{$this}__bg {
            @include tablet {
                height: 620px;

                &::before {
                    content: none;
                }
            }
        }

        #{$this}__title {
            margin-top: 15px;
            color: $color-warm-grey;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            letter-spacing: -0.2px;
            text-align: center;
        }
    }
}
