.carousel-dots {
    $this: &;

    display: inline-block;
    vertical-align: top;
    //flex-wrap: nowrap;
    white-space: nowrap;

    &__dot {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 15px;
        height: 2px;
        padding: 0;
        background-color: $color-white-three;
        transition: background-color 0.3s linear;

        @include tablet {
            width: 23px;
        }

        & + & {
            margin-left: 10px;

            @include tablet {
                margin-left: 15px;
            }
        }

        &.is-active {
            background-color: white;
            outline: 1px solid $color-black-three;
        }
    }

    &--dark {
        #{$this}__dot {
            background-color: $color-warm-grey;

            &.is-active {
                background-color: $color-black-three;
                outline: 1px solid white;
            }
        }
    }
}
