.article-content {
    &__row {
        &--text {
            margin-top: 25px;
            margin-bottom: 25px;

            @include tablet {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        &--quote {
            margin-top: 40px;
            margin-bottom: 40px;

            @include tablet {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

        &--image,
        &--video,
        &--gallery {
            margin-top: 25px;
            margin-bottom: 25px;

            @include tablet {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }

        &--gallery {
            overflow-x: hidden;
        }

        &--cloud-matrix,
        &--related-content {
            margin-top: 25px;
            margin-bottom: 25px;

            @include desktop {
                margin-top: 55px;
                margin-bottom: 55px;
            }
        }
    }

    &__container {
        margin-right: auto;
        margin-left: auto;
        padding: 0 $padding-side-mobile;

        @include tablet {
            padding: 0;
        }

        &--text {
            max-width: $container-tiny-max-width;
        }

        &--image,
        &--video,
        &--gallery {
            max-width: $container-small-max-width;
        }

        &--quote {
            padding: 0;
        }
    }

    &--zone {
        overflow: hidden;
    }
}
