.banner {
    $this: &;

    // if banner in flex context
    overflow: hidden;
    width: 100%;
    text-align: center;

    iframe {
        max-width: 100%;
    }

    // show paddings if script works
    // if user uses adBlock we will not show padding too
    & > div {
        padding-top: 28px;
        padding-bottom: 28px;

        @include desktop {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    // no banner rendering, for test purpose
    //div {
    //    margin: 0 auto;
    //    background-color: tomato;
    //}
}
